.nz-contact-us-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.nz-contact-us-container .nz-notes-message-box-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.nz-contact-us-container .nz-notes-message-box-container .nz-notes-textarea {
    flex-grow: 1;
}

.nz-contact-us-container .nz-notes-message-box-container .nz-notes-action-strip {
    height: var(--submenu_height);
}

.nz-contact-us-container .nz-notes-message-box-container .nz-notes-textarea .nz-fc-textarea-control {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.nz-contact-us-container .nz-notes-message-box-container .nz-notes-textarea textarea {
    height: 100% !important;
    padding: var(--spacing-1);
}

.nz-contact-us-notes-pane {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    padding: var(--spacing-1);
}

.nz-contact-us-notes-pane .nz-node-list-Container {
    height: 100%;
    width: 100%;
}

.nz-contact-us-notes-pane .nz-node-list-box.nz-node-list-box-selected {
    border: 1px solid var(--selection-text);
    box-shadow: none !important;
}